<!-- caaaaaao

<form (submit)="getWeatherForTown(town.value)">
    <label for="town">Town:</label>
    <input type="text" id="town" #town>
    <button type="submit">Get Weather</button>
  </form>

<div *ngIf="weatherData">
    <h2>{{ weatherData.name }} Weather</h2>
    <p>Temperature: {{ weatherData.main.temp }} degrees Celsius</p>
    <p>Humidity: {{ weatherData.main.humidity }}%</p>
    <p>Weather Description: {{ weatherData.weather[0].description }}</p>
  </div> -->


  <div id="widget4"></div><script type='text/javascript' src='https://www.weatherapi.com/weather/widget.ashx?loc=2830682&wid=4&tu=2&div=weatherapi-weather-widget-4' async></script><noscript><a href="https://www.weatherapi.com/weather/q/belgrade-2830682" alt="Hour by hour Belgrade weather">10 day hour by hour Belgrade weather</a></noscript>