<!-- app.component.html -->
<section class="section hourly-forecast" aria-label="hourly forecast" data-hourly-forecast>
  <h2 class="title-2">Today at</h2>
  <div class="slider-container">
    <ul class="slider-list" data-temp>
      <li class="slider-item" *ngFor="let hour of hourlyForecast">
        <div class="card card-sm slider-card">
          <p class="body-3">{{ hour.time | date:'shortTime' }}</p>
          <img [src]="hour.condition.icon" alt="" class="weather-icon" loading="lazy" width="48" height="48" title="">
          <p class="body-3">{{ hour.temp_c }}&deg;</p>
        </div>
      </li>
    </ul>

    <ul class="slider-list" data-wind>
      <li class="slider-item" *ngFor="let hour of hourlyForecast">
        <div class="card card-sm slider-card">
          <p class="body-3">{{ hour.time | date:'shortTime' }}</p>
          <img src="assets/images/weather_icons/direction.png" alt="" class="weather-icon" loading="lazy" width="48" height="48" title="">
          <p class="body-3">{{ hour.wind_kph }} km/h</p>
        </div>
      </li>
    </ul>
  </div>
</section>
