<section class="section current-weather" aria-label="current weather" data-current-weather>
  <div class="card card-lg current-weather-card">

    <h2 class="title-2 card-title">Now</h2>

    <div class="wrapper">
      <p class="heading">{{currentTemperature}}&deg;<sup>c</sup></p>

      <img src={{iconSrc}} width="64" height="64" alt={{shortDescription}} class="weather-icon">
    </div>

    <p class="body-3">{{shortDescription}}</p>

    <ul class="meta-list">

      <li class="meta-item">
        <span class="m-icon">calendar_today</span>

        <p class="title-3 meta-text">{{date}}</p>
      </li>

      <li class="meta-item">
        <span class="m-icon">location_on</span>

        <p class="title-3 meta-text">{{location}}</p>
      </li>
    </ul>

  </div>
</section>

