<mat-card id="weatherCard">
    <div id="cityInfo">
        {{location}}
    </div>
    <div id="dayInfo">
        {{day}}, {{date}}
    </div>
    <div id="currentInfo">
        
            <div id="iconDesc">
                <img *ngIf="gotWeather" id='icon' [src]="iconSrc" alt="Icon">
                <span id="desc"> {{shortDescription.toUpperCase()}}</span>
            </div>
            <div id="tempDiv">
            <div id="temp"> {{currentTemperature}} </div>
                <div id="feelsLike"> <span id="txt">feels like: </span> {{feelsLike}}</div>
                <div id="hl">{{highLow}}</div>
            </div>
            <div class="container">
                <div id="detailsDiv">
                    <div id="row1" class="row">
                    <div id="wind" class="weather-section">
                        <span class="wind-text"> <span class="titl"> WIND </span> <br><div class="data2"> {{wind_kph}} kph {{wind_dir}} </div> </span> 
                        <img id= "windIcon" src="assets/images/wind.png">
                    </div>
                    <div id="pressure" class="weather-section">
                        <span class="pressure-text"> <span class="titl"> PRESSURE </span> <br> <div class="data"> {{pressure_mb}} mb </div></span> 
                        <img id= "pressureIcon" src="assets/images/p3.png">
                    </div>
                    </div>
                    <div id="row2" class="row">
                    <div id="visibility" class="weather-section">
                        <span class="wind-text"> <span class="titl"> VISIBILITY</span> <br><div class="data"> {{visibility}} km</div> </span> 
                        <img id= "visibilityIcon" src="assets/images/visible-xxl.png">
                    </div>
                    <div id="humidity" class="weather-section">
                        <span class="wind-text"> <span class="titl"> HUMIDITY </span> <br><div class="data"> {{humidity}}%</div> </span> 
                        <img id= "humidityIcon" src="assets/images/humidity.png">
                    </div>
                    </div>
                </div>
    
            <br>
            <br>
            <div id="detailsDiv2">
                <div  id="divPrep">
                    <span id="titlPrep"> PRECIPITATION </span>  <span id="prInfo">{{precip}}mm  </span> <span id="i"> in the last 24h </span>
                </div>  
            
                <div id="uvInfo">
                    <span>UV INDEX:  <span id="uv"> {{uv}}</span></span>
                    <div class="slider-container">
                    <input type="range" min="0" max="11" value={{uv}} class="slider" id="uvSlider" disabled>
                    <div class="slider-fill"></div>
                    <br>
                    <div id="uvWarning">{{uvWarning}}</div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div>
        <div>
            <app-warnings-component [alertData]="warningData" id="warnings"></app-warnings-component>
        </div>
    </div>
</mat-card>